/* CSS BY Leanna Bonalba*/

/* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* ROOT VARIABLES */
    :root {
        --teal: #4CA7C0;
        --purple: #484FB7;
        --lavender: #6B8FE7;
        --yellow:#E9BB57;
        --pink: #D9526F;
        --dark-gray: #1E1E1E;
        --white: #FFFFFF;

        --font: 'Inter', sans-serif;
        --font-heading: 'Kavoon', cursive;
    }

/* GLOBAL STYLES (mobile first/small) */

h1, h2 {
    font-family: var(--font-heading);
}

body {
    max-width: 450px;
    background-color: var(--lavender);
    color: var(--white); /*CHANGE LATER AFTER BG SET FOR SECTIONS*/
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font);

    line-height: 1.6;
}

/* HEADING SIZES*/
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

header {
    text-align: center;
    background-color: var(--purple);
    padding: 20px;
}

/* NAVIGATION STYLES */
    nav {
        font-family: var(--font);
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        background-color: var(--yellow);
    }

    nav h2 {
        font-family: var(--font);
        font-size: 1.5em;
        color: var(--dark-gray);
        font-style: italic;
        font-weight: bold;
    }

    .nav-list li {
        margin: 10px 20px;
        padding: 15px;
        background-color: var(--white);
    }

    .nav-list li a {
        text-decoration: none;
        font-weight: bold;

        text-transform: uppercase;
    }

 /* SERVICES SECTION */
    #services {
        background-color: var(--purple);
        padding: 20px;
        text-align: left;
    }

    #services h3 {
        color: var(--yellow);
        font-weight: bold;
        margin: 10px 0 10px 0;
    }
    #services h4 {
        margin: 10px 0 10px 0;  
        font-weight: bold;
        color: var(--purple);

    }

    #services section > section {
        margin-bottom: 15px;
        background-color: var(--white);
        border-radius: 10px;
        padding: 20px;
        
        color: var(--dark-gray);
    }

/* WHY CHOOSE US SECTION */
    #why-choose-us {
        background-color: var(--pink);
        padding: 20px;
    }

    #why-choose-us ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0;
    margin-top: 1rem;
    }

    #why-choose-us li {
    padding: 1.5rem;
    border-radius: 10px;
    color: var(--dark-gray);
    font-weight: 600;
    text-align: center;
    }

    /* Individual box colors */
    #why-choose-us li:nth-child(1) {
    background-color: var(--teal);
    }

    #why-choose-us li:nth-child(2) {
    background-color: var(--lavender);
    }

    #why-choose-us li:nth-child(3) {
    background-color: var(--yellow);
    }

    #why-choose-us li:nth-child(4) {
    background-color: var(--white);
    }

/* PRICES SECTION */

    #prices {
        background-color: var(--purple);
        padding: 20px;
        }
    #prices h3 {
        color: var(--yellow);
        font-weight: bold;
        margin: 10px 0 10px 0;


    }

    #prices table {
        margin: 0 auto;
        width: 65%;
        border: 3px solid var(--yellow);
        background-color: var(--white);
        color: var(--dark-gray);
        
    }

    #prices th, #prices td {
        padding: 20px;
        border: 1px solid var(--yellow);

        text-align: left;

        vertical-align: middle;    
    }   

    #prices th {
        background-color: var(--yellow);
        font-weight: bold;
        color: var(--dark-gray);
        text-transform: uppercase;
        text-align: center;
    }


    /*Take the First Step SECTION */

    #take-the-first-step {
        background-color: var(--pink);
        padding: 20px;
        text-align: left;
    }

    #take-the-first-step a {
        display: inline-block;
        width: 80%;

        transform: translateX(20px); /*centers the button*/

        margin: 10px;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        align-items: center;

        background-color: var(--white);
        color: var(--dark-gray);

        border-radius: 10px;

        box-shadow: 0 4px 0 rgba(0, 0, 0, 1);
    }

    /* footer */

    footer {
        background-color: var(--purple);
        color: var(--white);

    
        text-align: center;
        padding: 50px;
    }

    footer a {
        color: var(--white);
        text-decoration: none;
    }